
/* Add font style and background color to the body */
body
{
    font-family: 'Special Elite', cursive;
    background: #2afae5;
/* Add style to the header div */

.header_div
{
    background: white;
    color: #ff1f22;
}



/* Add style to the header p tag: */







/* Add style to the button */







/* Add style to the footer */
